body {
    max-width: 100%;
    font-family: "Open Sans", Gotham, gotham, Tahoma, Geneva, sans-serif;
}
nav {
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    align-items: center;
}
nav ul {
    list-style-type: none;
    display: flex;
    color: #2a2a33;
    /* color: red; */
}
.nav-ul1 {
    margin-left: -50px;
}
.nav-ul1 ul li{
    margin: 20px;
}
.nav-ul1 ul li a{
    text-decoration: none;
}
.nav-ul1 ul li a:hover {
    color: blue;
}
.nav-ul2 ul li{
    margin: 10px;
}
.nav-ul2 ul li a {
    text-decoration: none;
}
.nav-ul2 ul li a:hover {
    color: blue;
}

.nav-img{
    margin: 20px;
}
.nav-img img {
    /* width: 60%; */
    height: 40px;
  width: 200px;
}